#!/bin/bash

cat <<EOF | sudo tee /etc/systemd/system/kube-controller-manager.service
[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \\
  --address=0.0.0.0 \\
  --cluster-cidr={{ cntlr_cidr }} \\
  --cluster-name={{ cluster_name }} \\
  --cluster-signing-cert-file={{ k8s_cert_dir }}{{ k8s_ca_cert }} \\
  --cluster-signing-key-file={{ k8s_cert_dir }}{{ k8s_ca_key }} \\
  --kubeconfig={{ k8s_config_dir }}{{ k8s_cntlr_config }} \\
  --leader-elect=true \\
  --root-ca-file={{ k8s_cert_dir }}{{ k8s_ca_cert }} \\
  --service-account-private-key-file={{ k8s_cert_dir }}{{ k8s_account_key }} \\
  --service-cluster-ip-range={{ k8s_internal_network }} \\
  --use-service-account-credentials=true \\
  --v={{ k8s_services_version }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
